.main-input{
  display: flex;
  flex-direction:column;
  width: 400px;
  gap: 10px;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input1{
  height: 40px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(240, 243, 242);
  border: none;
}
.button-div{
  display: flex;
  justify-content: center;
}
.button{
  height: 35px;
  background-color: brown;
  color: white;
  border-radius: 30px;
  width: 200px;
  -webkit-box-shadow: 13px 10px 12px -1px rgba(0,0,0,0.45);
-moz-box-shadow: 13px 10px 12px -1px rgba(0,0,0,0.45);
box-shadow: 13px 10px 12px -1px rgba(0,0,0,0.45);
border: none;
cursor: pointer;
}
.main-section{
  height: 100vh;
}
.todolist{
  display: flex;
  justify-content: space-around;
  background-color: rgb(47, 42, 42);
  color: white;
  margin-top: 5px;
  
}
.todolist-main{
  padding-top: 50px;
}
.button-x{
  width: 50px;
  height: 30px;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 10px;
}
.btn-div{
  display: flex;
  align-items: center;
}